<a href="https://colab.research.google.com/github/ruang-belajar/python/blob/master/notebook/latihan-4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Latihan 4

## GROUPBY

Berikut ini adalah data data penduduk Jakarta per kelurahan yang dibagi per jenis kelamin dan pekerjaan.
Kerjakan soal-soal di bawah dengan mengunakan data ini.

Gunakan notebook [02-intro-pandas.ipynb](https://github.com/ruang-belajar/python/blob/master/notebook/02-intro-pandas.ipynb) sebagai referensi

In [ ]:
# PERSIAPAN DATA

# download file contoh csv
!wget https://data.jakarta.go.id/dataset/b0eb219e26e8e1fe7c521d8b78f9c89f/resource/e9a6fef809483b5cdd6ff545ee694494/download/Data-Jumlah-Kepala-Keluarga-Menurut-Pekerjaan-Jenis-Kelamin-dan-Wilayah-Tahun-2020.csv -O 2022-jakarta-kk.csv

# import modul pandas
import pandas as pd

In [ ]:
# load data ke dataframe (df)
df = pd.read_csv("2022-jakarta-kk.csv")
df

In [ ]:
df[df.kecamatan!='CIPAYUNG']

1. Filter dan tampilkan data penduduk kecamatan Cipayung

In [ ]:
# tambahkan kode di sini

2. Filter dan tampilkan data penduduk kecamatan Rambutan dan Ciracas.

In [ ]:
# tambahkan kode di sini

3. Menggunakan *groupby*, tampilkan jumlah penduduk per kabupaten

In [ ]:
# tambahkan kode di sini

4. Menggunakan *groupby*, tampilkan jumlah Laki-laki per kabupaten

In [ ]:
# tambahkan kode di sini

## JOIN OPERATION

Pelajari mengenai proses _OUTER JOIN_ dari [05-pandas-series-join.ipynb](https://github.com/ruang-belajar/python/blob/master/notebook/05-pandas-series-join.ipynb). Coba kerjakan soal-soal berikut:

5. Menggunakan *groupby*, hitung jumlah penduduk laki-laki per pekerjaan

In [ ]:
# tambahkan kode di sini

6. Menggunakan *groupby*, hitung jumlah penduduk laki-laki per pekerjaan

In [ ]:
# tambahkan kode di sini

7. menggunakan *OUTER JOIN*, gabungkan hasil dari perhitungan *soal 5* dan *soal 6*